#features
  ul 
    list-style none
    margin-left 0
    padding-left 1em
    text-indent -1em

    li
      border 1px solid #777100
      background #FFB60F
      color #fff
      font-size 1.5em
      padding 0.2em 1em
      margin-top 1em

      &:hover
        color #593c58
