#features
  border-top 1px solid #ddd
  margin-top 2em

  ul 
    list-style none
    margin-left 0
    padding-left 1em
    text-indent -1em

    li
      display inline
      color #333
      background #e8f0f5
      font-size 1.3em
      padding 0.2em 1em
      margin-top 1em
      border 1px solid #D2D9DE
      border-right-color #E5E9ED
      border-bottom-color #E5E9ED
      -webkit-border-radius 3px
      -moz-border-radius 3px
      border-radius 3px

#features-content
  padding-top 2em
  margin-top 2em
  border-top 1px solid #ddd

  ul 
    list-style none
    margin-left 0
    padding-left 1em
    text-indent -1em
