#login
  margin 40px 0
  line-height 80px

  .provider
    margin-left 2em
    border 1px solid #ddd
    -moz-border-radius  5px
    -webkit-border-radius 5px
    border-radius 5px
    padding 40px
    font-weight bold
    font-size 1.2em

    &:hover
      background #ccc
