body
  border-top 3px solid black
  font-family 'Prata', serif

#container > header
  font-family 'julee' cursive
  font-size 2.2em
  padding 6px 20px
  background #FFF8C6

  span
    display inline
    font-size 0.5em
    line-height 2em

.left
  float left

.right
  float right

a, a:visited
  text-decoration none
  color #406090

a:hover
  color #153E7E

footer
  padding-top 20px
  margin-top 40px
  font-size 0.9em
  color #463E3F
  border-top 1px dotted #34282C

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.clearfix
  zoom: 1

.comment .attribution
  font-size: 95%
  color: #ddd

ul#comments
  list-style none
  margin-left 0
  padding-left 1em
  border-right 2px solid #DEDEDE

  li.comment
    padding-left 1em
    margin-top 1em
    border-bottom 2px dotted #DEDEDE

    p.attribution
      color #667C26

    &:last-child
      border-bottom none

#search
  text-align center

  input[type='search']
    width 320px

  input[type='submit']
    padding 2px 5px
    margin-left 10px

nav ul li
  display inline
  margin-left 10px
