h3=title
form(method="post", action='/comment/save')
  fieldset
    legend Crib/Recommend a product you feel strongly about to others
    p
      textarea(name="comment", rows='4', cols='80', placeholder='Please enter your comment here')
    p
      select(name="product")
        option(value="") -- Select Product --
        - each product in products 
          option(value="#{product._id}") #{product.display_name}
  p.buttons
    input(type="submit", value="Send")
