h1= title
section#welcome
  ul
    li Comment about the products you care about
    li Vote on other comments/products
    li Build a credibility number for all products and companies
    li Free to use

ul#comments
  - each comment in comments
    Some recent comments
    li #{comment.created_at} by #{comment.posted_by} on #{comment.product_id}
