!!!
html
  head
    title= typeof(title) !== 'undefined' ? title : "everyauth example"
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h1 OAuth Example
    #main
    != body