!!! 5
html(lang="en")
  head
    title= title
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Julee|Prata')

  body
    #container
      header husharu
      p.right <a href='/login' class='orange button'>Login</a>
      != body
      footer
        span.left &copy; 2011 husharu authors.  <a href='http://creativecommons.org/licenses/by-nc-sa/3.0/'>Some rights reserved</a>
        span.right <a href='https://github.com/caulagi/husharu'>Fork me on github</a>
