!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/fluid960gs.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/feature.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Julee|Prata')
    
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1895899-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    #container.container_12
      header.clearfix 
        <a href='/'>husharu</a>
        span.right the social consumer forum
      div.right.clearfix 
        <a href='/comment'>Comment</a> | 
        <a href='/login' class='orange button'>Login</a>
      div.clear
      div#search.grid_12
        form(method='post', action='/search')
          input(type='search', placeholder='Search', results='5', name='search')
          input(type='submit', value='Search')
      div.clear
      != body
      footer
        span.left &copy; 2011 husharu authors.  <a href='http://creativecommons.org/licenses/by-nc-sa/3.0/'>Some rights reserved</a>
        span.right <a href='https://github.com/caulagi/husharu'>Fork me on github</a>
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    script(src="http://yui.yahooapis.com/3.4.1/build/yui/yui-min.js")
