!!! 5
html(lang="en")
  head
    title= title
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Julee')

  body
    header husharu
    #main
    != body
