!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/fluid960gs.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/feature.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Julee|Prata')
    
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1895899-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    #container.container_12
      header.clearfix 
        <a href='/'>husharu</a>
        span.right the social consumer forum
      nav.right.clearfix 
        ul
          li.button
            a(href='/comment', class='minimal') Comment
          li.button
            - if (everyauth.loggedIn)
              a(href='/logout', class='minimal') Logout
            - else
              a(href='/login', class='minimal') Login
          li.button
            a(href='http://github.com/caulagi/husharu/issues/new', class='cupid-green', target='_blank') Feedback

      div#search.grid_12
        form(method='post', action='/search')
          input(type='search', placeholder='Search products/comments', name='search')
          input(type='submit', value='Search')
      //if IE
        div#ie-notsupported
          | Your browser is not supported.  Please use 
          a(href='http://google.com/chrome/') Chrome
          |  or
          a(href='http://getfirefox.com') Firefox
          span.close X

      div.clear
      != body
      footer
        span.left &copy; 2011 husharu authors.  <a href='http://creativecommons.org/licenses/by-nc-sa/3.0/' target='_blank'>Some rights reserved</a>
        span.right 
          a(href='https://github.com/caulagi/husharu', target='_blank') Fork me on github
          |  &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href='https://github.com/caulagi/husharu/issues/new', target='_blank') Report a bug
    script(src="http://yui.yahooapis.com/3.4.1/build/yui/yui-min.js")
    script(src="/javascript/actions.js")
