h4= title
- if (!everyauth.loggedIn)
  div#login.prefix_2
    a(href='/auth/facebook', class='provider') Facebook
    a(href='#', class='provider') Twitter
    a(href='#', class='provider') Google
    a(href='#', class='provider') Yahoo

  div.clear

-else
  - if (everyauth.facebook)
    h3 Facebook User Data
    p= JSON.stringify(everyauth.facebook.user)

  - if (everyauth.twitter)
    h3 Twitter User Data
    p= JSON.stringify(everyauth.twitter.user)
