h3= title
- if (!everyauth.loggedIn)
  div#login.prefix_2
    span.provider
      a(href='/auth/facebook') Facebook
    span.provider
      a(href='#') Twitter
    span.provider
      a(href='#') Google
    span.provider
      a(href='#') Yahoo

  div.clear

-else
  - if (everyauth.facebook)
    h3 Facebook User Data
    p= JSON.stringify(everyauth.facebook.user)

  - if (everyauth.twitter)
    h3 Twitter User Data
    p= JSON.stringify(everyauth.twitter.user)
