body{border-top:2px solid #000;font-family:'Prata',serif}
#container{padding:0 5%}
header{font-family:'julee' cursive;font-size:2em;padding:6px 20px;background:#fff8c6}
.orange{color:#fef4e9;border:solid 1px #da7c0c;background:#f78d1d;background:-webkit-gradient(linear,left top,left bottom,from(#faa51a),to(#f47a20));background:-moz-linear-gradient(top,#faa51a,#f47a20)}
.orangehover{background:#f47c20;background:-webkit-gradient(linear,left top,left bottom,from(#f88e11),to(#f06015));background:-moz-linear-gradient(top,#f88e11,#f06015)}
.orangeactive{color:#fcd3a5;background:-webkit-gradient(linear,left top,left bottom,from(#f47a20),to(#faa51a));background:-moz-linear-gradient(top,#f47a20,#faa51a)}
.button{display:inline-block;outline:none;cursor:pointer;text-align:center;text-decoration:none;font:14px/100% Arial,Helvetica,sans-serif;padding:.5em 2em .55em;text-shadow:0 1px 1px rgba(0,0,0,0.30);-webkit-border-radius:.5em;-moz-border-radius:.5em;border-radius:.5em;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.20);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.20);box-shadow:0 1px 2px rgba(0,0,0,0.20)}
.buttonhover{text-decoration:none}
.buttonactive{position:relative;top:1px}
.left{float:left}
.right{float:right}
a,a:visited{text-decoration:none;color:#406090}
a:hover{color:#153e7e}
footer{padding-top:20px;margin-top:40px;font-size:.9em;color:#463e3f;border-top:1px dotted #34282c}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
